[package]
name = "rust-bert"
version = "0.4.5"
authors = ["Guillaume Becquin <guillaume.becquin@gmail.com>"]
edition = "2018"
default-run = "rust-bert"
description = "Native (Distil)BERT implementation for Rust"
repository = "https://github.com/guillaume-be/rust-bert"
license = "Apache-2.0"
readme = "README.md"
keywords = ["nlp", "deep-learning", "machine-learning", "bert", "transformers"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "rust_bert"
path = "src/lib.rs"
crate-type = ["lib"]

[[bin]]
name = "convert-tensor"
path = "src/convert-tensor.rs"

[dependencies]
rust_tokenizers = "2.0.3"
tch = "0.1.6"
serde_json = "1.0.45"
serde = {version = "1.0.104", features = ["derive"]}
failure = "0.1.6"
dirs = "2.0"
itertools = "0.9.0"
ordered-float = "1.0.2"